
src/.DS_Store
*.pyc
.DS_Store
*__pycache__*
src/Assignment2/src/models/SwinTransformer/*
src/Assignment2/src/dataset/youtube_videos/*
src/**/models/*
src/**/data/*
!src/Assignment4/data/**/.gitkeep
!src/Assignment4/data/AFHQ/test/.gitkeep
!src/Assignment4/data/AFHQ/train/.gitkeep
src/Assignment4/?xecu?ed*
src/Assignment4/training_kld*
src/Assignment4/gif.py
src/Assignment4/ccvae.ipynb
src/Assignment4/model.py
src/Assignment4/cvae.py
src/Assignment5/imgs/training/*

