
src/data/*
src/.DS_Store
*.pyc
src/Assignment2/.DS_Store
src/Assignment2/.DS_Store
.DS_Store
src/Assignment2/src/models/SwinTransformer/*
src/Assignment2/src/dataset/youtube_videos/*
src/Assignment3/models/*.pth
src/Assignment3/data/MNIST/*
src/Assignment3/src/__pycache__/*
src/Assignment4/data/*
!src/Assignment4/data/**/.gitkeep
src/Assignment4/models/*.pth
!src/Assignment4/data/AFHQ/test/.gitkeep
!src/Assignment4/data/AFHQ/train/.gitkeep
src/Assignment4/models/*
src/Assignment4/?xecu?ed*
src/Assignment4/training_kld*
src/Assignment4/gif.py
src/Assignment4/ccvae.ipynb
src/Assignment4/model.py
src/Assignment4/cvae.py
